In [12]:
import pandas as pd
import numpy as np

In [13]:
data =
data.head()

   1    2   3   4    5     6      7   8  9
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [14]:
data.describe()

,1,2,3,4,5,6,7,8,9
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 768 entries, 0 to 767
Data columns (total 9 columns):
1    768 non-null int64
2    768 non-null int64
3    768 non-null int64
4    768 non-null int64
5    768 non-null int64
6    768 non-null float64
7    768 non-null float64
8    768 non-null int64
9    768 non-null int64
dtypes: float64(2), int64(7)
memory usage: 60.0 KB

In [29]:
from sklearn import datasets

sk_diabetes = datasets.load_diabetes()

In [30]:
X = sk_diabetes.data
y = sk_diabetes.target

In [31]:
from sklearn.cross_validation import train_test_split
ind = range(768)
np.random.shuffle(ind)
test_ind = ind[:768/5]
train_ind = ind[768/5:]
print test_ind
print train_ind

[329, 687, 640, 481, 112, 557, 97, 185, 377, 697, 694, 342, 248, 191, 643, 281, 664, 131, 255, 592, 427, 724, 166, 446, 434, 296, 440, 280, 685, 242, 467, 94, 289, 317, 360, 575, 279, 604, 208, 517, 534, 154, 561, 529, 420, 564, 605, 36, 171, 495, 88, 651, 348, 383, 470, 633, 364, 658, 625, 659, 454, 4, 367, 111, 632, 322, 765, 73, 725, 252, 159, 116, 704, 507, 271, 277, 487, 610, 708, 502, 542, 89, 188, 461, 80, 199, 755, 184, 748, 403, 716, 145, 366, 282, 127, 516, 253, 217, 607, 308, 85, 460, 506, 336, 351, 31, 262, 581, 756, 170, 285, 194, 410, 579, 60, 14, 156, 695, 305, 229, 379, 490, 18, 363, 541, 178, 574, 569, 639, 362, 428, 424, 38, 257, 545, 566, 158, 738, 634, 250, 546, 450, 90, 688, 83, 126, 570, 267, 394, 302, 496, 709, 22]
[9, 335, 590, 167, 728, 518, 313, 749, 232, 195, 186, 555, 670, 601, 341, 500, 249, 559, 511, 187, 488, 673, 385, 413, 527, 429, 143, 102, 192, 660, 588, 193, 149, 615, 26, 637, 291, 656, 582, 444, 713, 122, 682, 649, 710, 238, 654, 730, 761, 13, 270, 430, 311, 578, 415, 33, 356, 624, 747, 515, 650, 141, 65, 211, 125, 606, 355, 114, 1, 106, 422, 425, 513, 140, 522, 258, 357, 133, 233, 3, 435, 630, 405, 646, 376, 87, 152, 91, 221, 108, 551, 219, 622, 307, 204, 681, 132, 476, 751, 161, 54, 350, 301, 224, 283, 645, 79, 61, 77, 151, 693, 183, 712, 40, 177, 86, 328, 288, 138, 726, 493, 408, 51, 207, 264, 677, 101, 378, 407, 226, 117, 722, 532, 443, 321, 608, 509, 414, 678, 41, 349, 465, 612, 354, 353, 45, 400, 121, 441, 619, 231, 576, 139, 432, 209, 48, 700, 346, 17, 29, 499, 718, 37, 535, 468, 359, 27, 538, 750, 438, 320, 93, 337, 123, 181, 222, 292, 753, 540, 597, 190, 473, 304, 554, 618, 552, 571, 318, 452, 421, 176, 699, 103, 669, 466, 595, 731, 475, 284, 567, 105, 442, 505, 691, 652, 56, 600, 409, 352, 706, 585, 558, 35, 665, 323, 247, 594, 657, 8, 28, 241, 543, 100, 457, 197, 64, 501, 223, 616, 115, 165, 676, 580, 72, 316, 484, 530, 300, 374, 584, 389, 757, 21, 266, 456, 67, 214, 128, 523, 256, 423, 620, 234, 689, 754, 343, 173, 609, 719, 269, 63, 399, 764, 369, 95, 406, 58, 325, 486, 163, 735, 458, 550, 216, 480, 146, 82, 46, 157, 549, 679, 447, 417, 626, 332, 345, 218, 671, 220, 729, 472, 10, 278, 635, 644, 629, 412, 528, 395, 259, 295, 174, 137, 638, 636, 0, 246, 42, 479, 661, 25, 70, 162, 297, 416, 455, 402, 119, 299, 483, 50, 711, 703, 553, 23, 312, 11, 596, 469, 705, 34, 537, 235, 547, 168, 150, 57, 431, 330, 451, 623, 124, 228, 347, 324, 621, 398, 396, 684, 614, 236, 734, 44, 286, 498, 613, 675, 196, 78, 16, 767, 388, 120, 411, 293, 240, 482, 485, 426, 717, 524, 655, 449, 142, 230, 273, 309, 721, 667, 723, 611, 762, 491, 43, 96, 203, 254, 298, 736, 338, 653, 492, 577, 39, 462, 526, 583, 294, 375, 180, 533, 404, 110, 463, 333, 418, 666, 544, 642, 745, 401, 591, 384, 419, 182, 560, 260, 109, 81, 763, 741, 733, 593, 696, 201, 5, 290, 519, 239, 746, 2, 674, 55, 225, 525, 397, 272, 179, 129, 373, 287, 244, 315, 512, 744, 200, 370, 698, 135, 766, 548, 586, 510, 245, 263, 368, 243, 306, 334, 261, 720, 49, 331, 213, 668, 683, 268, 387, 76, 344, 98, 113, 690, 707, 521, 7, 69, 19, 573, 599, 144, 437, 148, 326, 104, 742, 237, 760, 445, 32, 340, 153, 504, 92, 617, 474, 602, 520, 459, 314, 380, 672, 662, 20, 210, 202, 99, 562, 62, 758, 628, 339, 737, 15, 478, 6, 275, 74, 503, 568, 66, 489, 59, 631, 372, 692, 648, 382, 136, 134, 739, 365, 147, 130, 53, 160, 714, 227, 471, 536, 265, 453, 702, 361, 497, 701, 727, 205, 539, 118, 84, 381, 12, 52, 477, 464, 587, 759, 743, 589, 172, 303, 175, 47, 514, 371, 680, 68, 740, 556, 319, 75, 641, 189, 71, 251, 627, 327, 494, 30, 358, 572, 198, 752, 206, 155, 603, 386, 563, 392, 508, 439, 598, 164, 391, 715, 647, 310, 433, 390, 448, 393, 436, 107, 663, 215, 276, 732, 274, 24, 531, 686, 169, 565, 212]

In [32]:
X_train = list()
y_train = list()

X_test = list()
y_test = list()

for ind in test_ind:
    X_test.append(X[ind])
    y_test.append(y[ind])
    
for ind in train_ind:
    X_train.append(X[ind])
    y_train.append(y[ind])

IndexError: index 687 is out of bounds for axis 0 with size 442